zebra=yes
bgpd={{ 'yes' if enable_bgp else 'no' }}
ospfd=no
ospf6d={{ 'yes' if enable_ospf6 else 'no' }}
ripd=no
ripngd=no
isisd={{ 'yes' if enable_isis else 'no' }}
pimd=no
ldpd=no
nhrpd=no
eigrpd=no
babeld=no
sharpd=no
pbrd=no
bfdd={{ 'yes' if enable_bfd else 'no' }}
fabricd=no
vrrpd=no
mgmtd=no
staticd=no


