! Zebra configuration for {{ router_name }}
!
frr version 7.5.1_git
frr defaults traditional
hostname {{ router_name }}
!

interface lo
 ipv6 address {{ loopback_ipv6 }}
{% for iface in interfaces %}
!
interface {{ iface.name }}
 ipv6 address {{ iface.addr }}
{% endfor %}
{% if not disable_logging %}
!
log file /var/log/frr/zebra.log debugging
log commands
{% endif %}
!
line vty
!
ip forwarding
ipv6 forwarding
!

